
body{
    /* background: linear-gradient(to bottom, #141e30, #416b5e, #ffc600); */
    background-image: url(people2.jpeg);
    background-size: cover;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.keys{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.key{
    border: 4px solid black;
    border-radius: 5px;
    margin: 1rem;
    font-size: .5rem;
    padding: .2rem .1rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rbga(0, 0, 0, 0.4);
    text-shadow: 0 0 5px black;
}

.playing{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 10px #ffc600;
}

kbd{
    display: block;
    font-size: 40px;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffc600;
}